<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <div id="contenedor"></div>
    <p>comentarios:</p>
<div id="comentarios"></div>
    <button onclick="window.location.href='/mensajeria/<%= usuario %>'">contactar con el vendedor</button>
    <script src="/socket.io/socket.io.js"></script>
    <button onclick="comprobar()">comprar</button>
    
    <input type="text" placeholder="enviar comentario" id="comentario"> <button onclick="enviarcomentarios()">enviar</button>
    <script type="module">
            //-----------declaración de variables---------------
            let respuestas=[]
            let id="<%= id %>"
          let usuario= "<%= usuario %>"
          let socket=io()
          let productos=await fetch("/verproductos").then(function(res){return res.json()})

          //---------------declaración de funciones------------------
      function mostrarcomentarios(comentarios){ console.log(respuestas)
               let i=0
             const comentariodiv = document.getElementById("comentarios")
             comentariodiv.innerHTML=""

            for(let comentario of comentarios){
               let comentusuario= document.createElement("p")
               let coment= document.createElement("p")

               comentusuario.textContent= comentario.usuario;
               coment.textContent=comentario.comentario
               document.createElement("br")
                
              if(comentario.producto_id=="<%= id %>"){ comentariodiv.innerHTML +=`<p>${comentusuario.textContent} dice:</p>
              <p>${coment.textContent}</p>
              <br> `}

              ++i
              for(let respuesta of respuestas){
                if(respuesta.comentario===coment.textContent && respuesta.usuario_al_que_se_responde===comentusuario.textContent && respuesta.producto_id=="<%= id %>"){
                comentariodiv.innerHTML +=`
              <p>respuesta:${respuesta.respuesta}, @${respuesta.usuario_al_que_se_responde}</p>
              <br> `        
                }}
            }
            
        }


        window.enviarcomentarios= async function enviarcomentarios(){
            await fetch("/comentarios",{method:"POST",
                headers:{"Content-Type":"application/json"},

                body: JSON.stringify({usuario: usuario,
                    comentario: document.getElementById("comentario").value,
                    producto: "<%= nombre %>",
                producto_id: id})})
                    
                    .then(function(res){return res.text()}).then(function(res){
                if(res==="los visitantes no pueden comentar"){alert(res)}
            })
        }

          window.comprobar=async function comprobar(){
            let stock=document.getElementById("stock").textContent.split(" ")[1]
            console.log("el stock es",stock)
             document.getElementById("stock").textContent=`stock: ${Number(stock)-1}`
            await fetch("/bajarstock",{method:"POST",
                headers:{"Content-Type":"application/json"},
                body: JSON.stringify({id:"<%= id %>"
                })
            })

            await fetch("/comprobar-usuario",{method:"POST",
                headers:{"Content-Type":"application/json"},
                body: JSON.stringify({producto: "<%= nombre %>"})
            })
            
            .then(function(res){
               return  res.text()
            })
            
            .then(function(res){ 
                if(res==="ingrese sesion para comprar"){alert(res)}

                else if(res==="ok"){alert("compra hecha!")}
            })
        }
        

        function mostrarproductos(producto){
        let nombre= document.createElement("h3")
        nombre.textContent=producto.producto_nombre;

        let precio= document.createElement("h4")
        precio.textContent="precio: "+producto.producto_precio

        let descripcion=document.createElement("p")
        descripcion.textContent=producto.producto_descripcion

        let stock= document.createElement("h4")
        stock.id="stock"
        stock.textContent="stock: "+ producto.producto_stock

   let imagen= document.createElement("img")
   imagen.src=`/${producto.producto_imagen}`
   imagen.width=500
   console.log(imagen.src)
 
   let contenedor= document.getElementById("contenedor")
   contenedor.appendChild(nombre)
   contenedor.appendChild(imagen)
   contenedor.appendChild(precio)
   contenedor.appendChild(descripcion)
   contenedor.appendChild(stock)


}

console.log(id)

            //-------código---------
            for(let producto of productos){ if(producto.producto_id==id){console.log(producto);
                 mostrarproductos(producto)}}

            
            //--------websocket----------
        
        socket.on("respuestas",function(respuestasdata){
        respuestas=respuestasdata;
    console.log("respuestas",respuestas)})


         socket.on("comentarios", function(comentarios){ 
        let id= setInterval(() => {
            if(respuestas.length!==0){mostrarcomentarios(comentarios); clearInterval(id)}
          }, 100);
            })
    </script>
</body>
</html>
